#include <zephyr/dt-bindings/input/keymap.h>

&clk_bclk {
	divider = <4>;
};

&clk_root {
	clocks = <&clk_wifipll BL61X_WIFIPLL_OC_480MHz>;
};

&clk_flash {
		clocks = <&clk_bclk>;
		// clock-invert;
		read-delay = <1>;
		divider = <1>;
		//rx-clock-invert;
};

#include <dt-bindings/pinctrl/bl616x-pinctrl.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/spi/spi.h>
/*
&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <GPIO14_I2C0_SCL>, <GPIO15_I2C0_SDA>;
			drive-strength = <2>;
			input-schmitt-enable;
		};
	};
};

&i2c0 {
	ssd1327: ssd1327@3c {
		compatible = "solomon,ssd1327fb";
		reg = <0x3c>;
		width = <128>;
		height = <96>;
		prechargep = <0xf>;
		remap-value = <0x53>;
		oscillator-freq = <0x92>;
		display-offset = <0x20>;
		start-line = <0>;
		multiplex-ratio = <0x05f>;
		phase-length = <0x1f>;
		status="okay";
	};
	status = "okay";

	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST_PLUS>;
};
*/

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			pinmux = <GPIO11_SPI_MOSI>, <GPIO14_SPI_MISO>, <GPIO13_SPI_SCLK>, <GPIO20_SPI_SS>;
			drive-strength = <1>;
			input-schmitt-enable;
		};
	};
};

/ {

	mipi_dbi_ssd1327 {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi0>;
		dc-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		ssd1327: ssd1327@0 {
			compatible = "solomon,ssd1327fb";
			mipi-max-frequency = <30000000>;
			reg = <0>;
			width = <128>;
			height = <64>;
			prechargep = <0x5>;
			precharge-voltage = <0x7>;
			remap-value = <0x53>;
			oscillator-freq = <0xA1>;
			display-offset = <0x40>;
			start-line = <0>;
			multiplex-ratio = <0x3f>;
			phase-length = <0x29>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
			grayscale-table = [04 06 08 0A 0C 0D 10 12 14 16 18 1C 20 24 3C];
		};
	};
};
/*
/ {

	mipi_dbi_ssd1363 {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi0>;
		dc-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		ssd1363: ssd1363@0 {
			compatible = "solomon,ssd1363";
			mipi-max-frequency = <40000000>;
			compatible = "solomon,ssd1363";
			reg = <0>;
			width = <256>;
			height = <128>;
			precharge-period = <0x8>;
			remap-value = <0x3200>;
			oscillator-freq = <0x61>;
			display-offset = <0x20>;
			column-offset = <32>;
			start-line = <0>;
			multiplex-ratio = <127>;
			phase-length = <0x74>;
			precharge-voltage = <0x7>;
			grayscale-enhancement;
			grayscale-table = [02 04 05 06 07 08 09 0C 10 12 14 16 1E 24 2A];
			#inversion-on;
			//precharge-config = <0x2>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
		};
	};
};
*/
&spi0 {
	status = "okay";
	//cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
};


/ {
	chosen {
		zephyr,display = &ssd1327;
	};
};
&gpio0 {
	status = "okay";
};

/ {
	kbd-matrix {
		compatible = "gpio-kbd-matrix";
		row-gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		col-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>,
					<&gpio0 24 GPIO_ACTIVE_LOW>,
					<&gpio0 28 GPIO_ACTIVE_LOW>,
					<&gpio0 26 GPIO_ACTIVE_LOW>;
		keymap {
			compatible = "input-keymap";
			keymap = <
				MATRIX_KEY(3, 1, INPUT_KEY_W)
				MATRIX_KEY(4, 1, INPUT_KEY_S)
				MATRIX_KEY(4, 0, INPUT_KEY_A)
				MATRIX_KEY(4, 2, INPUT_KEY_D)
				MATRIX_KEY(3, 0, INPUT_KEY_LEFT)
				MATRIX_KEY(3, 2, INPUT_KEY_RIGHT)
				MATRIX_KEY(1, 3, INPUT_KEY_UP)
				MATRIX_KEY(2, 3, INPUT_KEY_DOWN)
				MATRIX_KEY(4, 3, INPUT_KEY_SPACE)
			>;
			row-size = <5>;
			col-size = <4>;
		};
	};
};
