#include <zephyr/dt-bindings/input/keymap.h>

&clk_bclk {
	divider = <4>;
};

&clk_root {
	clocks = <&clk_wifipll BL61X_WIFIPLL_OC_480MHz>;
};

&clk_flash {
		clocks = <&clk_bclk>;
		// clock-invert;
		read-delay = <1>;
		divider = <1>;
		//rx-clock-invert;
};

#include <dt-bindings/pinctrl/bl616x-pinctrl.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <GPIO14_I2C0_SCL>, <GPIO15_I2C0_SDA>;
			drive-strength = <2>;
			input-schmitt-enable;
		};
	};
};

&i2c0 {
     ssd1315: ssd1315@3c {
		status = "okay";
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
	status = "okay";

	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST_PLUS>;
};

/ {
	chosen {
		zephyr,display = &ssd1315;
	};
};
&gpio0 {
	status = "okay";
};

/ {
	kbd-matrix {
		compatible = "gpio-kbd-matrix";
		row-gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		col-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>,
					<&gpio0 24 GPIO_ACTIVE_LOW>,
					<&gpio0 28 GPIO_ACTIVE_LOW>,
					<&gpio0 26 GPIO_ACTIVE_LOW>;
		keymap {
			compatible = "input-keymap";
			keymap = <
				MATRIX_KEY(3, 1, INPUT_KEY_W)
				MATRIX_KEY(4, 1, INPUT_KEY_S)
				MATRIX_KEY(4, 0, INPUT_KEY_A)
				MATRIX_KEY(4, 2, INPUT_KEY_D)
				MATRIX_KEY(3, 0, INPUT_KEY_LEFT)
				MATRIX_KEY(3, 2, INPUT_KEY_RIGHT)
			>;
			row-size = <5>;
			col-size = <4>;
		};
	};
};
