config L3
	bool "Enable L3 Library"
	default n

config ENGINE
	bool "Enable Engine"
	default n
	select L3

config HEADLESS
	bool "Headless Mode"
	default n

config RENDER_THREAD_STACK
	int "size of render thread's stack size"
	default 4096

config PROCESS_THREAD_STACK
	int "size of processing thread's stack size"
	default 2048

config BLIT_THREAD_STACK
	int "size of blitting thread's stack size"
	default 2048

config BLIT_THREAD
	bool "Blit in separate thread"
	default y
